.tool-logo img {
  width: 100px;
  height: 75px;
}

.tool-logo {
  display: -webkit-inline-box;
}

.btn-area {
  text-align: -webkit-center;
}

button {
  display: block;
  background-color: transparent;
  border: 2px solid #3d3d3d;
  border-radius: 3px;
  min-width: 270px;
  height: 75px;
  margin: 50px 10px;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
}

a:focus,
button:focus {
  outline: none;
}

a:hover,
button:hover {
  transform: translateY(-1.5px);
  transition: ease-out;
}