<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title> Atualizar</title>
	</head>
	<body>
		<h1> Atualizar Cadastro de Clientes </h1>
		<hr>
		<form action = "" method="POST">
			<table> 
				<tr> 
					<td>Nome</td>
					<td><input type="text" name= "nome" value = "{{ clientes.nome }}"></td>
				</tr>
				<tr> 
					<td>CPF/CNPJ</td>
					<td><input type="text" name= "cpf" value = "{{ clientes.cpf }}"></td>
				</tr>

			</table><br>
			<input type="submit" value="Atualizar Dados">
			<a href="/index">Voltar</a>
			
		</form>

	</body>

</html>