<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<link rel="stylesheet" href="static/stylesheets/index.css">
 		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  		<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> 
		<title> Página Inicial </title>   		
	</head>
	<body>
		<a href="{{ url_for ('logout')}}"> SAIR</a>
		<h1> <img src="static/images/pagina.png" alt="cadastro" style="width:60px; height: 40px"> Seja Bem vindo! </h1>  
		<hr>
		<a href="{{ url_for ('cadastrar')}}"> <img src="static/images/cadastro.png" alt="cadastro" align="center" style="width:60px; height: 60px">  Cadastro de Funcionarios</a> 
		<a href="{{ url_for ('cadastraClientes')}}"> <img src="static/images/cadastrocliente.png" alt="clientes" align="center" style="width:60px; height: 60px">  Cadastro de Clientes</a>
		<a href="{{ url_for ('cadastraProjeto')}}"> <img src="static/images/cadastraprojetos.png" alt="projetos" align="center" style="width:80px; height: 80px">  Cadastro de Projetos</a>
		<a href="{{ url_for ('cadastraAtividade')}}"> <img src="static/images/cadastroatividades.png" alt="projetos" align="center" style="width:80px; height: 80px">  Cadastro de Atividades</a>
		<hr>
		<a href="{{ url_for ('lista')}}"> <img src="static/images/clientes.png" alt="clientes" align="center" style="width:60px; height: 60px">  Lista de Funcionários</a>
		<a href="{{ url_for ('lista_clientes')}}"> <img src="static/images/listacli.png" alt="clientes" align="center" style="width:80px; height: 80px">  Lista de Clientes</a>
		<a href="{{ url_for ('lista_projetos')}}"> <img src="static/images/listaProjetos.png" alt="projetos" align="center" style="width:60px; height: 80px">  Lista de Projetos</a>
		<a href="{{ url_for ('lista_atividades')}}"> <img src="static/images/atividade.png" alt="lista_atividade" align="center" style="width:80px; height: 80px">  Lista de Atividades</a>
		<hr>
		

		<hr>
		


	</body>

</html>