 <!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		 		<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
		 		<link rel="stylesheet" href="static/stylesheets/index.css">
		<title> Vinculo ProjetoxFuncionarios</title>
	</head>
	<body>
		<h1>  Vinculo ProjetoxFuncionarios</h1>
		<hr>
		<table border="4" bgcolor="#CEECF5" align="center" rules="all" frame="border" cellpadding="20px" > 
			<tr >
				<td>ID</td>
				<td>nomeFuncionario</td>
				<td>nomeProjeto</td>
				<td>Excluir</td>
				<td>Atualizar</td>
			</tr>
			{% for vinculo in vinculos %}
			<tr>
				<td>{{ vinculo._id  }}</td>
				<td>{{ vinculo.nomeFuncionario}}</td>
				<td>{{ vinculo.nomeProjeto}}</td>


				<td> <a href="/excluir_vinculo/{{ vinculo._id}}"> <img src="static/images/lixeira.png" alt="Excluir" style="width:35px; height: 35px"> </a> </td>
				<td><a href="/atualizar_vinculo/{{ vinculo._id}}">  <img src="static/images/editar.png" alt="pesquisa" style="width:35px; height: 35px"> </a></td>

			</tr>
			{% endfor %}
		</table>
		<a href="/index"><img src="static/images/voltar.png" alt="voltar" style="width:90px; height: 30px"> </a></a>
	</body>
</html>