<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/stylesheets/index.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <title>Controle de Horas</title>
</head>
<body>
  <h1>Controle de Horas</h1>
  <div id="login-lbl">
    <img src="static/images/clock.png" alt="Relógio">
    <form action="">
      <div class="input-area">
        <input class="text-input" type="text" placeholder="Login">
        <input class="text-input" type="text" placeholder="Senha">
      </div>
      <button type="submit"> <a href="/index">Login </a></button>
    </form>
  </div>
</body>
</html>